* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    height: 100%;
}

.header-container {
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#icons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.fas {
    font-size: 3rem;
}

.box {
    flex-basis: calc(20% - 40px);
    margin: 20px;
    padding: 20px;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    text-align: center;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0, 0.5));
}

.title-icon {
    width: 120px;
    font-size: 1rem;
}

